body {
	color: gold;
	background-color: red ;
font-family: arial;
}
p {
	text-align: left;}
h1 {text-align: center;
color: blue;
 
 }
 .first{text-align: left;}
 h2 {color: yellow;

 }
 h3{text-align: left;
 	color: black;
 }
 table,th,td {border: 1px solid black;
width: 100%
 }
 nav{text-align: right;
justify-content: center;
padding: 1;
margin: 1;
font-weight: bold;
 }
